/.devpanel/dumps/
/.editorconfig
/.gitattributes
/.vscode/
/AGENTS.md
/assets/
/composer.json
/composer.lock
/config/
/CONTRIBUTING.md
/logs/*
!/logs/README.md
/private/
/README.md
/recipes/
/vendor/
/web/
